.work-card-authors-date{
  margin-top: 0;
  display: flex;
  gap: 20px;
  text-align: justify;
}

.work-card-authors {
  text-align: left;
}

.work-card-description {
  text-align: justify;
  margin-bottom: 0px;
}

.work-card-labels {
  display: flex;
  flex-wrap: wrap;
}

.work-card-label {
  display: inline-block;
  background: var(--light-white);
  border-radius: 12px;
  border: var(--dark-green) 1px solid;
  padding: 2px 10px;
  margin: 2px 4px 2px 0;
}

.work-card-actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.work-card-button {
  min-width: 90px;
}

.work-card-button:first-child {
  background-color: var(--dark-green) !important;
  color: var(--text-light) !important;
}

.work-card-button:last-child {
  background-color: var(--dark-green) !important;
  color: var(--text-light) !important;
}
