:root {
  --border-radius: 5px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
}

.login-page .header {
  display: none;
}

.divulgaif-login-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: var(--primary-green);
  color: var(--text-light);
  width: 100%;
}

.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.login-header-with-favicon {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.favicon-container {
  margin-right: 1rem;
}

.favicon-image {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.login-header {
  text-align: center;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  font-family: "Montserrat";
  color: var(--primary-beige);
}

.login-form-container {
  background-color: var(--form-bg);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 380px;
}

@media (max-width: 480px) {
  .login-form-container {
    background-color: var(--form-bg);
    border-radius: 8px;
    padding: 2rem;
    width: 70%;
    max-width: 380px;
  }

  .login-header-with-favicon {
    flex-direction: column;
  }

  .favicon-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.login-heading {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
  color: white;
  font: bold;
  text-align: center;
}

.login-subheading {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0 1.5rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.form-group-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 93%;
  padding: 0.75rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  background-color: #eee;
}

.login-button-small {
  width: 75% !important;
  height: 2.5rem !important;
  padding: 0.8rem 0.8rem !important;
}

.login-button {
  background-color: var(--button-bg) !important;
  color: var(--button-text) !important;
  padding: 0.75rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s;
  font-weight: 500;
  margin-top: 0.5rem;
}

.login-button:hover {
  opacity: 0.9;
}

.login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.login-options {
  text-align: center;
}

.options-divider {
  font-size: 1.2rem;
}

.suap-button {
  background-color: var(--button-bg) !important;
  color: var(--button-text) !important;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: opacity 0.3s;
  font-weight: 500;
}

.suap-button:hover {
  opacity: 0.9;
}

.forgot-password-link-container {
  text-align: center;
  margin-top: 0.5rem;
}

.forgot-password-text {
  font-size: 1rem;
  margin: 0;
}

.forgot-password-link {
  color: var(--primary-beige);
  text-decoration: none;
  font-weight: 600;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.register-link-container {
  text-align: center;
}

.register-text {
  font-size: 1.1rem;
  color: white;
}

.register-link {
  color: var(--primary-beige);
  text-decoration: none;
  font-weight: 1000;
}

.register-link:hover {
  text-decoration: underline;
}
